{% extends "_bases/base.html.twig" %}
{% block title %}Account Profile{% endblock %}
{% block content %}
<div class="layout-wrapper layout-content-navbar layout-without-menu">
        <img src="../nav/img/front-pages/backgrounds/cta-bg-light.png" class="position-absolute top-0 start-50 translate-middle-x object-fit-contain w-100 h-100" style="height: 121% !important;"/>
</div>
{% endblock %}